* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 2vw;
    text-align: center;
    color: white;
}

nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
    display: flex;
}

ul > li {
    padding: 10px;
    text-align: right;
}

.logo {
    color: goldenrod;
    padding: 10px;
    font-weight: bold;
    font-size: 35px;
}

.header{
    padding: 30px;
    background-image: url('./download.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
}

h3 {
    font-size: 3vw;
    padding: 15% 20% 0 20%;
    text-transform: uppercase;
}

button {
    width: max-content;
    height: 40px;
    padding: 10px;
    color: white;
    background-color: blue;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 10px;
}